[submodule "projects/graphic_calculator"]
	path = projects/graphic_calculator
	url = https://github.com/UmbrellaLeaf5/graphic_calculator
[submodule "projects/locus_no_pilotus"]
	path = projects/locus_no_pilotus
	url = https://github.com/UmbrellaLeaf5/locus_no_pilotus
[submodule "projects/cmake_eval_calculator"]
	path = projects/cmake_eval_calculator
	url = https://github.com/UmbrellaLeaf5/cmake_eval_calculator
[submodule "semesters/2/algorithms"]
	path = semesters/2/algorithms
	url = https://github.com/UmbrellaLeaf5/alg_spring_homework
[submodule "semesters/3/algorithms"]
	path = semesters/3/algorithms
	url = https://github.com/UmbrellaLeaf5/alg_autumn_homework
[submodule "projects/graph"]
	path = projects/graph
	url = https://github.com/UmbrellaLeaf5/graph_cpp
[submodule "semesters/3/parallel"]
	path = semesters/3/parallel
	url = https://github.com/UmbrellaLeaf5/alg_parallel
[submodule "semesters/3/os"]
	path = semesters/3/os
	url = https://github.com/UmbrellaLeaf5/os_homeworks
[submodule "projects/drugdesign"]
	path = projects/drugdesign
	url = https://gitlab.com/DeevBogdanYi/drugdesign
[submodule "semesters/4/advanced_cpp"]
	path = semesters/4/advanced_cpp
	url = https://github.com/UmbrellaLeaf5/advanced_cpp
[submodule "template"]
	path = template
	url = https://github.com/UmbrellaLeaf5/template_repo_cpp_lessons
[submodule "semesters/4/network_systems"]
	path = semesters/4/network_systems
	url = https://github.com/UmbrellaLeaf5/network_systems
